Repository FilipMalczak/glue-d: changes, and which Codecov flags are due for each by the changed paths.
All: core, annotations, codescan, logging, utils

#13 Extensively test resolveCall autowiring customization
  test/foo/config.d
  test/glued/testsuites/application/di/resolveCall.d
  test/glued/testsuites/runtime.d
Due: none

#13 Pre-merge cleanup of small todos
  annotations/source/glued/annotations/core_annotations.d
  annotations/source/glued/annotations/core_impl.d
  source/glued/application/di/resolveCall.d
  test/foo/api.d
  test/glued/testsuites/application/di/resolveCall.d
  test/glued/testsuites/runtime.d
  test/glued/testutils.d
Due: core, annotations

Tweak todo-bot config
  .github/config.yml
Due: none

#21 Ugly unorganized first approach to values
  source/glued/adhesives/environment.d
  source/glued/adhesives/package.d
  source/glued/adhesives/values.d
  source/glued/application/di/annotations.d
  source/glued/application/di/initializers.d
  source/glued/application/runtime.d
  source/glued/application/scanlisteners/bundles.d
Due: core

#21 Commited so that new module has presence on dub
  context/dub.json
  dub.json
Due: none

#21 Replaced dejector fork with subpackage
  .travis.yml
  appveyor.yml
  context/dub.json
  context/source/dejector.d
  context/test/dejector_tests.d
  dub.json
  test-all.sh
Due: none

#21 Enhanced cleanup; introduced Path VO and made PathTree API use it
  clean.sh
  source/glued/adhesives/environment.d
  source/glued/application/logging.d
  utils/source/glued/pathtree.d
Due: core, utils

Path conditions:
  core: any of: source/**, but not: test/**/*, */test/**/*
  annotations: any of: annotations/source/**, but not: test/**/*, */test/**/*
  codescan: any of: codescan/source/**, but not: test/**/*, */test/**/*
  logging: any of: logging/source/**, but not: test/**/*, */test/**/*
  utils: any of: utils/source/**, but not: test/**/*, */test/**/*
